<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config/>
	
	<bean id="cm"  class="com.nt.beans.CourseMaterial">
	   <property name="bookName" value="sp-1"/>
	   <property name="pagesCount" value="369"/>
	    <qualifier value="bk1"/>
	</bean>
	
	<bean id="cm1"  class="com.nt.beans.CourseMaterial" primary="true">
	   <property name="bookName" value="sp-2"/>
	   <property name="pagesCount" value="500"/>
	   <qualifier value="bk2"/>
	</bean>
	
	<bean id="stud"  class="com.nt.beans.Student">
	   <property name="id" value="1001"/>
	</bean>
	
   
</beans>
