<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   
    <!-- Dependent Bean cfg -->
    <bean id="dfb"  class="com.nt.beans.DateFactoryBean" >
        <constructor-arg value="2018"/>
        <constructor-arg value="11"/>
        <constructor-arg value="11"/> 
    </bean>
    
    <!-- Target Bean cfg-->
    <bean id="remainder"  class="com.nt.beans.ScheduleRemainder">
        <constructor-arg ref="dfb"/>
    </bean>
    
    <bean id="remainder1"  class="com.nt.beans.ScheduleRemainder">
        <constructor-arg ref="dfb"/>
    </bean>

</beans>
