<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

   <!-- cfg Bean classes -->
   <bean id="engg3"  class="com.nt.beans.Engine"/>
   
   <!-- <bean id="viechle"  class="com.nt.beans.Viechle">
      <constructor-arg name="beanId" value="engg2"/>
   </bean> -->
   
    <bean id="viechle"  class="com.nt.beans.Viechle">
      <constructor-arg name="beanId">
         <idref bean="engg3"/>
      </constructor-arg>
   </bean>
   

</beans>
