<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <!-- cfg Advice  class-->
    <bean id="pinAdvice"  class="com.nt.advice.PinVerifierAdvice"/>
    <!-- Cfg Target class -->
    <bean id="pinGenerator"  class="com.nt.target.ATMPInGenerator"/>
    <!-- Cfg ProxyFactoryBean -->
    <bean id="pfb"  class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="pinGenerator"/>
        <property name="interceptorNames">
             <array>
                <value>pinAdvice</value>
             </array>
        </property>
    </bean>
</beans>
