<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
 
   <!-- ServiceLocator -->
   <bean id="serviceLocator"  class="com.nt.locator.DubailCCScoreCompServiceLocator" factory-method="getExtService">
       <constructor-arg value="icc"/>
   </bean> 
   
   <!-- Local service  class-->
   <bean id="cbService"  class="com.nt.service.CBuzzFindScoreServiceImpl">
      <constructor-arg name="extComp" ref="serviceLocator"/>
   </bean>
	


</beans>
