<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
     <!-- Target class as spring cfg -->
     <bean id="approver"  class="com.nt.service.LoanApprover"/>
     <!-- Advice class cfg -->
     <bean id="auditAdvice" class="com.nt.advice.AuditingAdvice"/>
     <!-- Enable AOP -->
      <aop:config>
          <aop:pointcut id="ptc" expression="execution(String com.nt.service.LoanApprover.approveLoan(..))" /> 

<!--              <aop:pointcut id="ptc" expression="execution(String com.nt.service.LoanApprover.approveLoan(..)) and args(ltype,amt,appvr)" />  -->
        
         <aop:aspect ref="auditAdvice"  >
              <aop:before method="auditing" pointcut-ref="ptc"/> 
         </aop:aspect>
     </aop:config>
</beans>
