<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
		<bean id="sysDt"  class="java.util.Date"/>
		<bean id="dobDt"  class="java.util.Date">
		    <property name="year"  value="90"/>
		    <property name="month"  value="9"/>
		    <property name="date"  value="27"/>
		</bean>
		
   <util:list id="empList" list-class="java.util.LinkedList" value-type="java.lang.String">
        <value>raja</value>
        <value>raja</value>
        <value>rani</value>
   </util:list>
   
   <util:list id="dtList" list-class="java.util.Vector" value-type="java.util.Date">
        <ref bean="sysDt"/>
        <ref bean="dobDt"/>
   </util:list>
   
   <util:set id="phonesSet"  set-class="java.util.HashSet" value-type="java.lang.Long">
     <value>99999999999</value>
     <value>88888888888</value>
     <value>77777777777</value>
     <value>99999999999</value>
   </util:set>
   <util:set id="dtSet" set-class="java.util.LinkedHashSet"  value-type="java.util.Date">
         <ref bean="sysDt"/>
         <ref bean="dobDt"/>
         <ref bean="sysDt"/>
     </util:set>
     
     <util:map id="capitalsMap" map-class="java.util.Hashtable" key-type="java.lang.String" value-type="java.lang.String">
          <entry key="india" value="newDelhi"/>
          <entry>
             <key><value>China</value></key>
             <value>bejing</value>
          </entry>
            <entry  key="pakistan"  value="islamabad"/>
     </util:map>
     
     <util:map  id="dtMap" map-class="java.util.LinkedHashMap"  key-type="java.lang.String"   value-type="java.util.Date">
           <entry key="sysDate" value-ref="sysDt"/>
           <entry key="dobDate"  value-ref="dobDt"/>
     </util:map>
     
     <util:properties id="stateCapitals">
        <prop key="AP">Amaravathi</prop>
        <prop key="TS">Hyderabad</prop>
        <prop key="MP">Bhopal</prop>
        <prop key="MH">Mumbai</prop>
     </util:properties>
     
   

</beans>
