<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!-- Advice calss cfg -->
	<bean id="discountAdvice"  class="com.nt.advice.DiscountCuponAdvice"/>
	<!-- Target class cfg -->
	<bean id="shoppingStore"  class="com.nt.target.ShoppingStore"/>
	<!-- ProxyFactoryBean cfg -->
	<bean id="pfb"  class="org.springframework.aop.framework.ProxyFactoryBean">
	    <property name="target" ref="shoppingStore"/>
	    <property name="interceptorNames">
	       <array>
	          <value>discountAdvice</value>
	       </array>
	    </property>
	</bean>
</beans>
